body{
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    margin: 0 auto;
    width: 400 px;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;   
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1 px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
  }
  
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}